<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- These declarations are only required if manifest merging is disabled (they are declared in SDK) -->

        <!--<receiver android:name="com.localz.spotzpush.sdk.receiver.RestartReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <!--<service android:name="com.localz.spotzpush.sdk.service.BackgroundPusherService" android:exported="false"/>-->
    </application>
</manifest>
