<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sample.spotzpush" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Default service for Spotz Push. To add customisations to how notifications are handled,
            create your own version which extends com.localz.spotzpush.sdk.service.SpotzPushIntentService -->
        <service android:name="com.localz.spotzpush.sdk.service.GcmIntentService" />

        <!--Default receiver for Spotz Push, if com.localz.spotzpush.sdk.service.DefaultIntentService
            is not used, then extend com.localz.spotzpush.sdk.receiver.DefaultBroadcastReceiver
            and ensure to include the full class name of the custom intent service-->
        <receiver android:name="com.localz.spotzpush.sdk.receiver.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
