<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- These service declarations are only required if manifest merging is disabled (they are declared in SDK) -->

        <!--<service android:name="com.localz.spotzpush.sdk.service.FirebaseService" android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.firebase.MESSAGING_EVENT"/>-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!--<service android:name="com.localz.spotzpush.sdk.service.InstanceIdService" android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!--<service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="true" >
            <intent-filter android:priority="-500" >
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>-->

        <!-- Custom notification listener, must extend `com.localz.spotzpush.sdk.receiver.AbstractSpotzPushBroadcastReceiver` -->
        <receiver android:name="com.sample.spotzpush.CustomSpotzPushBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.localz.spotzpush.sdk.NOTIFICATION"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
